* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}
.main {
    /* height: 100vh; */
    width: 100%;
    background: #ffffff;
    position: relative;
    margin: auto;
}
nav{
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    color: #14213d;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
span{
    color: #fca311;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #ffffff;
    background: #14213d;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.5s;
}
nav ul li a:hover {
    color: #fca311;
    font-weight: bold;
}
.content {
    color: #ffffff;
    margin-left: 8%;
    margin-top: 10%;
}
.content h1{
    color: #14213d;
}
.content h3{
    color: #14213d;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 1px;
}
.content h1{
    font-size: 70px;
    margin-bottom: 20px;
}
.content p{
    color: #14213d;
    line-height: 22px;
}
.content a{
    background: #14213d;
    padding: 10px 18px;
    color: #ffffff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    transition: 0.5s;
}
.content a:hover{
    color: #ffffff;
    border: 2px #14213d;
}
.image{
    width: 40%;
    height: 80%;
    border-radius: 20px;
    bottom: 0;
    right: 100px;
    position: absolute;
}
.sosial{
    margin-left: 8%;
    margin-top: 20px;
}
.sosial a{
    font-size: 2rem;
    color: #14213d;
    margin-top: 5px;
    margin-right: 10px;
    display: inline-block;
}
.sosial a:hover{
    color: #fca311;
    border-bottom: 2px solid #14213d;
}
.about{
    width: 100%;
    padding: 100px 0;
    background-color: #ffffff;
}
.about-me{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-me img{
    height: auto;
    width: 430px;
    border-radius: 10px;
}
.about-text{
    width: 550px;
}
.about-text h2{
    color: #14213d;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid #14213d;
}
.about-text h5{
    color: #14213d;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: #14213d;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 45px;
    text-align: justify;
}
.portfolio{
    background: #ffffff;
    width: 100%;
    padding: 100px 0;
}
.title h2{
    color: #14213d;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}
.isiporto{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.porto1{
    height: 200px;
    width: 200px;
    padding: 20px 35px;
    background: #f5ebe0;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #14213d;
}
.porto1 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #14213d;
}
.porto1 h5{
    color: #14213d;
    font-size: 18px;
    margin-bottom: 15px;
}
.DA a {
    border: none;
    color: #14213d;
  }
.DA a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.DA a:hover {
    color: #14213d;
}
.DA a:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.DA a:active {
    top: 2px;
}

.porto2{
    height: 200px;
    width: 200px;
    padding: 20px 35px;
    background: #f5ebe0;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #14213d;
}
.porto2 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #14213d;
}
.porto2 h5{
    color: #14213d;
    font-size: 18px;
    margin-bottom: 15px;
}
.DV a {
    border: none;
    color: #14213d;
  }
.DV a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.DV a:hover {
    color: #14213d;
}
.DV a:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.DV a:active {
    top: 2px;
}

.porto3{
    height: 200px;
    width: 200px;
    padding: 20px 35px;
    background: #f5ebe0;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #14213d;
}
.porto3 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #14213d;
}
.porto3 h5{
    color: #14213d;
    font-size: 18px;
    margin-bottom: 15px;
}
.carclassification a {
    border: none;
    color: #14213d;
  }
.carclassification a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.carclassification a:hover {
    color: #14213d;
}
.carclassification a:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.carclassification a:active {
    top: 2px;
}

.porto4{
    height: 200px;
    width: 200px;
    padding: 20px 35px;
    background: #f5ebe0;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #14213d;
}
.porto4 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #14213d;
}
.porto4 h5{
    color: #14213d;
    font-size: 18px;
    margin-bottom: 15px;
}
.ipm a {
    border: none;
    color: #14213d;
  }
.ipm a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.ipm a:hover {
    color: #14213d;
}
.ipm a:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.ipm a:active {
    top: 2px;
}

.porto5{
    height: 200px;
    width: 200px;
    padding: 20px 35px;
    background: #f5ebe0;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    border: 2px solid #14213d;
}
.porto5 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: #14213d;
}
.porto5 h5{
    color: #14213d;
    font-size: 18px;
    margin-bottom: 15px;
}
.SA a {
    border: none;
    color: #14213d;
  }
.SA a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.SA a:hover {
    color: #14213d;
}
.SA a:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.SA a:active {
    top: 2px;
}